{% extends 'base.html' %}

{% block content %}
    <div class="inner-banner b-img-03">
        <div class="black-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info">
                            <h1>联系我们</h1>
                            <h2>Go beyond logistics, make the revolution business.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bread-crumb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ol class="breadcrumb">
                                <li><a href="home">主页</a></li>
                                <li class="active">联系我们</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="contents contact-us">

        <div class="container">
            <div class="row our-information">
                <div class="col-lg-12">
                    <h1>我们的信息</h1>
                    <div class="line"></div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="description">
                                {{ contacts.0.信息描述 }}
                            </div>
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="block">
                                        <div class="icon"><i class="fa fa-map-marker"
                                                             aria-hidden="true"></i></div>
                                        <div class="details">
                                            <h1>公司地址</h1>
                                            <div class="description">{{ contacts.0.公司地址 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="block">
                                        <div class="icon"><i class="fa fa-phone"
                                                             aria-hidden="true"></i>
                                        </div>
                                        <div class="details">
                                            <h1>电话号码</h1>
                                            <div class="description">
                                                {{ contacts.0.电话号码 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="block">
                                        <div class="icon"><i class="fa fa-envelope"
                                                             aria-hidden="true"></i></div>
                                        <div class="details">
                                            <h1>电子邮件</h1>
                                            <div class="description">
                                                {{ contacts.0.电子邮件 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6"><img
                        src="{{ contacts.0.上传地址 }}"
                        class="img-responsive center-block" alt=""></div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row no-gutter-12">
                <div class="col-lg-12 maps">
                    <iframe src="{{ maps.0.分享链接 }}"
                            height="400" allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row send-message">
                <div class="col-lg-12">
                    <h1>发送消息</h1>
                    <div class="line"></div>
                    <form action='process.php' method='post' name='ContactForm' id='ContactForm'>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name"
                                           placeholder="全名 *">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email"
                                           placeholder="邮件 *">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="website"
                                           placeholder="网站">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                <textarea rows="5" class="form-control" name="comment"
                                          placeholder="你的消息 *"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div id='message_post'></div>
                                <input class="btn btn-default" type='submit' value='提交'
                                       name='submitf' id="submitf">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>




{% endblock %}

{% block js %}
    <script data-cfasync="false" src="static/js/email-decode.min.js"></script>
    <script src="static/js/jquery.min.js"></script>

    <script src="static/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="static/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="static/js/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript"
            src="static/js/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.video.min.js"></script>
    <script type="text/javascript">
        var tpj = jQuery;

        var revapi204;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_204_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_204_1");
            } else {
                revapi204 = tpj("#rev_slider_204_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "revolution/js/",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style: "zeus",
                            enable: true,
                            hide_onmobile: false,
                            hide_under: 600,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 30,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 30,
                                v_offset: 0
                            }
                        }
                        ,
                        bullets: {
                            enable: true,
                            hide_onmobile: true,
                            hide_under: 600,
                            style: "metis",
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 30,
                            space: 5,
                            tmp: '<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                        }
                    },
                    viewPort: {
                        enable: true,
                        outof: "pause",
                        visible_area: "80%"
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [700, 650, 600, 500],
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "slidercenter",
                        speed: 2000,
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
                        type: "mouse",
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    hideThumbsOnMobile: "on",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });
        /*ready*/
    </script>

    <script type="text/javascript" src="static/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="static/js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="static/js/jquery.scrollto-1.4.2-min.js"></script>

    <script type="text/javascript" src="static/js/retina.js"></script>

    <script type="text/javascript" src="static/js/owl.carousel.js"></script>

    <script type="text/javascript" src="static/js/jquery.fitvids.js"></script>

    <script type="text/javascript" src="static/js/jquery.magnific-popup.js"></script>

    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>

    <script type="text/javascript" src="static/js/contact-form.js"></script>

    <script src="static/js/custom.js"></script>
{% endblock %}