{% extends 'base.html' %}

{% block content %}
    {% include "banner.html" with title="产品" name="product" %}


    <div class="container shop">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-8">
                <div class="hero-text-2">
                    <h1>Product Category Name</h1>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 sorting">
                <div class="form-group">
                    <select class="form-control">
                        <option>Default Sorting</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 product">
                <div class="picture"><img src="static/picture/8deb749914a442ff965b93049da5159b.gif"
                                          class="img-responsive" alt=""></div>
                <div class="info clearfix">
                    <div class="name">Product Name</div>
                    <div class="price">£56.00</div>
                    <div class="star">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="rate"></div>
                <div class="button"><a href="" class="fill-blue"><i class="fa fa-eye"
                                                                    aria-hidden="true"></i> Quick
                    Review</a><a
                        href="" class="fill-black"><i class="fa fa-shopping-cart"
                                                      aria-hidden="true"></i> Add to Cart</a></div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <div class="parallax-3 newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text center">
                        <h2>Newsletter for recieve</h2>
                        <h1>our latest company updates</h1>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control" id="newsletter"
                                   placeholder="Your E-mail Address">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="fa fa-paper-plane"
                                                                         aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script data-cfasync="false" src="static/js/email-decode.min.js"></script>
    <script src="static/js/jquery.min.js"></script>

    <script src="static/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="static/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="static/js/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript"
            src="static/js/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="static/js/revolution.extension.video.min.js"></script>
    <script type="text/javascript">
        var tpj = jQuery;

        var revapi204;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_204_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_204_1");
            } else {
                revapi204 = tpj("#rev_slider_204_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "revolution/js/",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style: "zeus",
                            enable: true,
                            hide_onmobile: false,
                            hide_under: 600,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 30,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 30,
                                v_offset: 0
                            }
                        }
                        ,
                        bullets: {
                            enable: true,
                            hide_onmobile: true,
                            hide_under: 600,
                            style: "metis",
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 30,
                            space: 5,
                            tmp: '<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                        }
                    },
                    viewPort: {
                        enable: true,
                        outof: "pause",
                        visible_area: "80%"
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [700, 650, 600, 500],
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "slidercenter",
                        speed: 2000,
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
                        type: "mouse",
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    hideThumbsOnMobile: "on",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });
        /*ready*/
    </script>

    <script type="text/javascript" src="static/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="static/js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="static/js/jquery.scrollto-1.4.2-min.js"></script>

    <script type="text/javascript" src="static/js/retina.js"></script>

    <script type="text/javascript" src="static/js/owl.carousel.js"></script>

    <script type="text/javascript" src="static/js/jquery.fitvids.js"></script>

    <script type="text/javascript" src="static/js/jquery.magnific-popup.js"></script>

    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>

    <script src="static/js/custom.js"></script>
{% endblock %}