 <li data-index="rs-682" data-transition="zoomin" data-slotamount="default"
                    data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
                    data-thumb="images/slider/thumbs/2.jpg" data-rotate="0" data-fstransition="fade"
                    data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
                    data-title="Land Transport" data-description="">

                    <img src="static/picture/2.jpg" alt="" data-bgposition="center center" data-kenburns="on"
                         data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="130"
                         data-rotatestart="0" data-rotateend="0" data-offsetstart="-500 0" data-offsetend="500 100"
                         data-bgparallax="10" class="rev-slidebg" data-no-retina>


                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-682-layer-bg"
                         data-x="['right','right','left','left']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="x:left;s:1200;e:Power3.easeInOut;s:1200;e:Power3.easeInOut;"
                         data-start="100" data-responsive_offset="on" style="z-index: 5;"><img
                            src="static/picture/overlay.png" alt="">
                    </div>

                    <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-1" id="slide-682-layer-1"
                         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-80','-60','-60','-20']"
                         data-fontsize="['42','42','32','24']" data-lineheight="['45','45','35','28']" data-width="none"
                         data-height="none" data-color="#fff" data-whitespace="nowrap" data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;" data-start="1500" data-splitin="none" data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; white-space: nowrap; text-transform:uppercase; letter-spacing:3px; font-weight:300;">
                        WE DELIVER
                    </div>

                    <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-2" id="slide-682-layer-2"
                         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-30','-10','-10','10']"
                         data-fontsize="['60','60','50','30']" data-lineheight="['65','65','45','35']"
                         data-height="none" data-color="#fff" data-letter-spacing="normal" data-whitespace="nowrap"
                         data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars"
                         data-splitout="none" data-elementdelay="0.05" data-responsive_offset="on"
                         style="z-index: 6; white-space: nowrap;">CARGO WORLDWIDE
                    </div>

                    <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-3" id="slide-682-layer-3"
                         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['20','50','50','50']"
                         data-fontsize="['16','16','16','14']" data-lineheight="['18','18','18','18']"
                         data-width="['650','450','450','300']" data-height="none" data-color="#fff"
                         data-whitespace="normal" data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;" data-start="2500" data-splitin="none" data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 300px; max-width: 650px; white-space: normal; font-weight:300;">
                        Go beyond logistics, make the world go round and more forrevolution business.
                    </div>
                </li>
